---
// On récupère le message envoyé par le Layout
const { message } = Astro.props;
---
<div class="holiday-bar glow" role="complementary" aria-label="Vœux de la Nouvelle Année 2026">
    <div class="snow-group" aria-hidden="true">
        <div class="snowflake-css"></div>
        <div class="snowflake-css"></div>
        <div class="snowflake-css"></div>
    </div>
    
    <span class="holiday-text">
        <Fragment set:html={message} />
    </span>
    
    <div class="snow-group" aria-hidden="true">
        <div class="snowflake-css"></div>
        <div class="snowflake-css"></div>
        <div class="snowflake-css"></div>
    </div>
</div>